*{
  margin:0;
  padding:0;
}
/* body{
  background-color: #f5f8f0;
} */
h1{
  font-size: 54px;
  font-family: monospace;
}
h2{
  font-size:45px;
  font-family: monospace;
}
h3{
  font-size:35px;
  font-family: monospace;
}
p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 100%;
  max-width: 1330px;
  margin: 0px auto;
  /* padding: 0 15px; */
}


/* HAMBURGER MENU CSS STARTS HERE -------------------------------- */


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  background-color: transparent !important;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* ---------------------------------------------- */
.header{
  color: white;
  background-color: black;
}
.header-inner{
  padding: 25px 0 39px 80px;
}
.header-nav{
  background-color: gray;
  margin: 0px auto;
  width: 100%;
  padding: 20px 0;
}
.header-nav li {
  list-style-type: none;
}
.header-nav a {
  text-decoration: none;
  color:white;
}
.header-nav ul{
  font-size: 26px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/* ---------------------------------------------- */

/* ---------------------------------------------- */
.info-outer{
  margin: 50px 0;
  padding: 20px;
  text-align: center;
}
.info-information{
  padding: 0px 0 86px 0;
  font-size: 25px;
  color: #000000;
  font-family: "Arial";
  text-align: left;
}

/* ---------------------------------------------- */

/* --------------------------------------------- */
.cards{
  margin: 70px 0;
}
.cards h2{
  text-align: center;
  padding: 0 0 40px 0;
  font-weight: 800;
}
.cards-outer {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 24%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.card-image {
  text-align: center;
}

.card-image img {
  width:300px;
  height: 130px;
}

.card a {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 20px;
  padding: 17px 0;
  background: black;
  font-weight: 800;
  margin: 50px 0 0 0;
  color: #ffffff;
  font-family: "Arial";
}
.card-text{
  text-align: center;
}
/* --------------------------------------------- */
.magnification-power-section {
  display: flex;
}

.magnification-power-section-image img{
  max-width: 700px;
  height: 670px;
  object-fit: contain;
}


.magnification-power-section-text {
  text-align: left;
  padding: 120px 0 120px 60px;
}

.magnification-power-section-text h1{
  font-size: 45px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;     
  font-family: "Gibson";
}


.magnification-power-section-text p {
  font-size: 21px;
  padding-top:70px;
  color: #000000;
  font-family: "Arial";
}

/* --------------------------------------------- */

.hamburger-icon {
  display: none;
}

/* --------------------------------------------- */
.footer {
  background-color: gray;
  width: 100%;
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* ----------------HOME PAGE END----------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* -----------------ABOUT PAGE START---------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
.info-boxes{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-box{
  width:25%;
}
.info-box img{
  width: 100%;
}
.info-box h3{
  padding: 20px 0 10px 0;
}
/* --------------------------------------------- */
.detail-inner{
  margin: 160px 0 50px 0;
}
.history-of-us{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.history-of-us-text{
  width:50%;
}
.history-of-us-image{
  width:40%;
}
.history-of-us-image img{
  width: 100%;
}


.who-we-are{
  display: flex;
  margin: 50px 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.who-we-are-text{
  width:50%;
}
.who-we-are-image{
  width:40%;
}
.who-we-are-image img{
  width: 100%;
}


.why-we-are{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.why-we-are-text{
  width:50%;
}
.why-we-are-image{
  width:40%;
}
.why-we-are-image img{
  width: 100%;
}
/* --------------------------------------------- */




/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------ABOUT PAGE END------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------CONTACT PAGE START------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */

.h2-title{
  width:40%;
  margin:0 auto;
}
.h3-title{
  margin: 20px auto;
}


.contact-outer{
  margin: 100px 0;
}
.contact-inner{
  display: flex;
  margin-top:50px;
  justify-content: space-around;
}
.write-to-us-form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.write-to-us {
  width: 40%;
  background-color: #ffffff;
  border: 2px solid black;
  box-shadow: 0 0px 10px 10px black;
}
.input-details {
  width: 80%;
  margin: 7px auto;
  border: 3px solid black;
  padding: 5px 10px;
}
textarea.input-message {
  width: 80%;
  height: 100px;
  border: 3px solid black;
}
.input-button {
  font-size: large;
  width: 20%;
  padding: 5px 0;
  border-radius: 7px;
  background-color: #b0b0b0;
}
/* =-------------------------------------- */

.our-info {
  background-color: #b0b0b0;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-info h3{
  margin-bottom: 50px;
}

.contact-us-details{
  width:80%;
  padding: 7px 0;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------CONTACT PAGE END------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */


/* ----------MEDIA QUERIES----------------------------------- */
@media screen and (max-width:1366px){
  h2{
    font-size: 40px;
  }
  .card-text a{
    width:80%;
  }
  .card-image img{
    width:270px;
  }
  .magnification-power-section-image img {
    max-width: 600px;
    height: 520px;
  }
  .magnification-power-section-text {
    padding: 20px 0 0px 60px;
  }
  .magnification-power-section-text p{
    padding-top: 30px;
  }
  .magnification-power-section-text p {
    padding-top: 30px;
  }
  /* ---------------------- */

  p{
    font-size: 18px;
  }
  .info-boxes{
    justify-content: space-evenly;
  }
  .info-box{
    width: 23%;
  }

  .history-of-us{
    justify-content: space-evenly;
  }
  .who-we-are{
    justify-content: space-evenly;
  }
  .why-we-are{
    justify-content: space-evenly;
  }

}
@media screen and (max-width:1199px){
  h1{
    font-size: 47px;
  }
  .info-information {
    font-size:21px;
  }
  .card-image img {
    width: 170px;
  }
  h2{
    font-size: 35px;
  }
  .magnification-power-section-text {
    padding: 0px 0 0px 60px;
  }
  .magnification-power-section-text p {
    padding-top: 20px;
  }
  .magnification-power-section-image img {
    max-width: 500px;
    height: 380px;
  }
  /* ----------------------------------------------------- */
  h3 {
    font-size: 32px;
  }
  .detail-inner {
    margin: 90px 0 50px 0;
  }
  /* ----------------------------------------------------- */
}
@media screen and (max-width:1025px){
  h2{
    font-size:30px;
  }
  h3 {
    font-size: 29px;
  }
  p{
    font-size:17px;
  }
  .info-outer{
    padding: 0 20px;
  }
  .detail-inner img{
    width:90%;
  }
}
@media screen and (max-width:991px){
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 29px;
  }
  .magnification-power-section-text p{
    font-size:18px;
  }
  .info-information{
    font-size: 18px;
    padding: 0 0 60px 0;
  }
  .magnification-power-section-image img {
    max-width: 360px;
    height: 370px;
  }
/* ------------------------- */
  .h2-title{
    width:44%;
  }
  button.input-button {
    font-size: medium;
    width: 27%;
  }

}
@media screen and (max-width:768px){
  ._span{
    display: inline-block !important;
  }
  .hamburger-icon {
    display: inline-block;
  }
  .header-nav{
    display: none;
  }
  .header-inner {
    display: flex;
    justify-content: space-around;
    padding: 25px 0 39px 0px;
    align-items: center;
  }
  .cards-outer{
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 45%;
  }
  .card-image img {
    width: 300px;
  }
  .card-text a {
    width: 80%;
    margin-bottom:30px;
  }
  .magnification-power-section {
    flex-direction: column;
  }
  .magnification-power-section-image img {
    max-width: 360px;
    height: 330px;
    padding-bottom: 20px;
  }
  .magnification-power-section-text {
    padding: 0px 0 0px 0px;
  }

  /* --------------------------------------- */
  .info-boxes{
    flex-direction: column;
    align-items: center;
  }
  .info-box {
    width: 60%;
  }
  .info-box p {
    padding-bottom: 50px;
  }
  .detail-inner {
    margin: 30px 0 50px 0;
  }
  h2{
    padding-bottom: 10px;
  }
  .history-of-us{
    flex-direction: column;
  }
  .who-we-are{
    flex-direction: column-reverse;
  }
  .why-we-are{
    flex-direction: column;
  }

  .history-of-us-text {
    width: 90%;
  }
  .who-we-are-text {
    width: 90%;
  }
  .why-we-are-text {
    width: 90%;
  }

  /* --------------------------------------- */
  /* --------------------------------------- */

  .contact-outer {
    margin: 50px 0;
  }
  .contact-inner {
    flex-direction: column;
    align-items: center;
  }
  .write-to-us {
    width: 70%;
  }
  .our-info {
    width: 50%;
    margin-top: 40px;
  }
  .our-info h3 {
    margin-bottom: 20px;
  }

}
@media screen and (max-width:640px){
  h1 {
    font-size: 29px;
  }
  h3 {
    font-size: 25px;
  }
  .card a {
    margin: 20px 0 30px 0;
  }
  .card-image img {
    width: 210px;
  }
  .info-information {
    font-size: 16px;
  }
  .magnification-power-section-image img {
    max-width: 300px;
    height: 250px;
  }
  .magnification-power-section-text p {
    font-size: 16px;
  }

/* ------------------------------- */

.h2-title {
  width: 53%;
  }

}
@media screen and (max-width:480px){
  h1 {
    font-size: 21px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 19px;
  }
  .magnification-power-section-text p {
    font-size: 15px;
  }
  .card{
    width:65%;
  }
  .card-image img {
    width: 200px;
  }
  .info-information {
    font-size: 15px;
  }
  .magnification-power-section-image img {
    max-width: 270px;
    height: 230px;
  }
  .h2-title {
    width: 80%;
}
.our-info {
  width: 70%;
}
}
/* --------------------------------------------- */
